[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
mpi4py = "*"
cython = "*"
pyopengl = "*"
triangle = "*"
glumpy = "*"
h5py = "*"
schema = "*"
shortuuid = "*"
pandas = "*"
jupyterlab = "*"

[requires]
python_version = "3.7"
